body {
  margin: 0;
  display: flex;
  overflow: hidden !important;
  background: #020617;
  font-family: "Iowan Old Style", "Georgia", serif;
}
.labels {
  display: flex;
  flex-direction: column;
  margin: 24px;
}
.label {
  text-align: center;
  margin: 8px;
  padding: 20px;
  z-index: 1;
  border-radius: 16px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  opacity: 0; 
  transform: translateY(25px);
  filter: blur(2px);
}
.title {
  color: rgb(112, 126, 148);
  background: rgba(32, 38, 46, 0.5);
  letter-spacing: 0.5ch;
  font-size: 42px;
}
.subtitle {
  color: rgb(62, 75, 95);
  background: rgba(18, 23, 30, 0.5);
  max-width: 500px;
  letter-spacing: 0.5ch;
  font-size: 18px;
}
.title.loaded {
  animation: fadeIn 3s ease-out 1s forwards;
}
.subtitle.loaded {
animation: fadeIn 3s ease-out 2s forwards;
}

@keyframes fadeIn {
  to {opacity: 1; transform: translateY(0); filter: blur(0px); }
}
canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}