body {
  margin: 0;
  display: flex;
  overflow: hidden !important;
  background: #020617;
  font-family: "Iowan Old Style", "Georgia", serif;
}

/* Canvas */
canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

/* Text */
.labels {
  display: flex;
  flex-direction: column;
  margin: 24px;
}
.label {
  text-align: center;
  margin: 8px;
  padding: 20px;
  z-index: 1;
  border-radius: 16px;
  letter-spacing: 0.5ch;
  position: relative;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  opacity: 0; 
  transform: translateY(25px);
  filter: blur(2px);
}
.title {
  color: rgb(112, 126, 148);
  background: rgba(32, 38, 46, 0.5);
  font-size: 42px;
}
.subtitle {
  flex-direction: column;
  max-width: 500px;
  gap: 12px;
  color: rgb(99, 114, 136);
  font-size: 18px;

  cursor: default;
}
.subtitle::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: rgba(18, 23, 30, 0.5);
  z-index: 0;
  pointer-events: none;

  transform-origin: top center;
  transform: scaleY(1);
  transition: transform 600ms ease;
}
.subtitle:hover::before {
  transform: scaleY(1.3);
}
.title.loaded {
  animation: fadeIn 3s ease-out 1s forwards;
}
.subtitle.loaded {
animation: fadeIn 3s ease-out 2s forwards;
}
@keyframes fadeIn {
  to {opacity: 1; transform: translateY(0); filter: blur(0px); }
}

/* Actions */
.subtitle__actions {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 24px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms ease 100ms;
}
.subtitle:hover .subtitle__actions {
  opacity: 1;
  pointer-events: auto;
}
.action {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 12px;
  text-decoration: none;
  border: none;
  background: rgba(49, 57, 70, 0.5);
}
.action:hover {
  filter: brightness(1.8);
}
i {
  font-weight: 400;
  line-height: 1;
  font-size: 20px;
  color: rgb(99, 114, 136);
}

/* Modals */
dialog {
  color: rgb(112, 126, 148);
  background: rgba(32, 38, 46, 0.5);
  padding: 0px 32px 32px 32px;
  border-radius: 16px;
  letter-spacing: 0.3ch;
  border: none;
  gap: 24px;
}

dialog[open] {
  animation: fadein 500ms ease-in;
}
@keyframes fadein{ 0%{ opacity:0; } 100%{ opacity:1; } }

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
.infomodal-close {
  position: absolute;
  inset: 16px 16px auto auto;
  width: 32px;
  height: 32px;
}
.infomodal h2 {
  margin: 32px;
}
.infomodal p {
  font-size: 12px;
  max-width: 72ch;
}
.infomodal a {
  display: inline;
  color: rgb(112, 126, 148);
}

.settingsdialog {
  z-index: 1;
  position: absolute;
  inset: 32px 32px auto auto;
}

.controls {
  display: flex;
  align-items: end;
  flex-direction: column;
}

.switch {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.switch .input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: relative;
  width: 32px;
  height: 16px;
  flex-shrink: 0;
  background-color: rgba(32, 38, 46, 0.5);
  border: 1px solid rgb(112, 126, 148);
  border-radius: 6px;
}
.switch .slider::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  inset: auto auto 2px 2px;
  background: white;
  border-radius: 4px;
  transition: transform 100ms;
}
.switch .input:checked + .slider {
  background-color: rgb(112, 126, 148);
}

.switch .input:checked + .slider::before {
  transform: translateX(16px);
}

.switchlabel {
  margin: 0;
}
